<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<h1 class="h1-list">
    Estoques
</h1>  

<form class="form-list" #form="ngForm" (ngSubmit)="handleSubmit(form)">

    <div class="main-filter">

        <div class="left-filter">
            
            <label>
                <input type="radio" 
                      class="input-list"                                        
                      id="eatable" 
                      name="eatable" 
                      (change)="eatableSpecificChange($event)"
                      [checked]="!filter.eatableDisabled"
                      />
                Tipo
            </label>
            <select [(ngModel)]="filter.eatable"
                    #type="ngModel"
                    name="eatable" 
                    disabled={{filter.eatableDisabled}}
                    class="select-list"
            >
                <option value={{eatable.id}} *ngFor="let eatable of eatables">
                    {{eatable.name}}
                </option>                   
            </select>              

        </div>

        <div className="right-filter">
            <label>
                <input type="radio" 
                       class="input-list"
                       id="eatable" 
                       name="eatable" 
                       [checked]="filter.eatableDisabled"
                       (change)="eatableAnyChange($event)"
                       value="*"  />
                Qualquer
            </label>
        </div>

    </div>

    <div>
        <input type="submit" 
            class="input-list-submit" 
            value="Pesquisar" />                            
    </div> 
    <div class='clear-both'>
    </div> 

</form>

<!--
<div class="button-new-list-container">
    <a [routerLink]="['/inventoryitems/new']"  >
        <button class='button-new-list'>
            <mat-icon>add_to_photos</mat-icon>
        </button>                
    </a>    
</div>
-->

<p class="error-message" *ngIf="inventoriesError?.message">
    {{inventoriesError.message}}
</p>  

<p class="waiting-icon" *ngIf="inventoriesWaiting">
    <mat-icon>hourglass_empty</mat-icon>
</p>

<div class="card-container">

    <div *ngFor="let item of inventories" >

        <div class='card'>
            <div>
                {{getInventoryItemName(item.inventoryItemId)}}
            </div>
            <div>
                {{item.quantity}} {{getUnityName(item.inventoryItemId)}}
            </div>   
            <div>
                <a [routerLink]="['/inventories/edit', item.id]"  >
                    <button class='button-edit-list'>
                        <mat-icon>edit</mat-icon>
                    </button>                       
                </a>                                                                               
            </div>                    
        </div>

    </div>

</div>
