<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<h1 class="h1-list">
    Itens do estoque
</h1>    

<form class="form-list" #form="ngForm" (ngSubmit)="handleSubmit(form)">

    <div class="main-filter">

        <div class="left-filter">

            <label>
                <input type="radio"                     
                       class="input-list"                     
                       id="name" 
                       name="name"        
                       [checked]="!filter.nameDisabled"            
                       (change)="nameSpecificChange($event)"/>
                Nome
            </label>

            <input type="text"
                   [(ngModel)]="filter.name"
                   #name="ngModel"     
                   name="name"     
                   disabled={{filter.nameDisabled}}       
                   class="input-list input-list-text"               
            />
        </div>

        <div className="right-filter">
            <label>
                <input type="radio" 
                    class="input-list"                 
                    id="name" 
                    name="name" 
                    [checked]="filter.nameDisabled"
                    (change)="nameAnyChange($event)"
                    value="*"  />
                Qualquer
            </label>
        </div>

    </div>

    <div class="main-filter">

        <div class="left-filter">
            
            <label>
                <input type="radio" 
                      class="input-list"                                        
                      id="type" 
                      name="type" 
                      (change)="typeSpecificChange($event)"
                      [checked]="!filter.typeDisabled"
                      />
                Tipo
            </label>
            <select [(ngModel)]="filter.type"
                    #type="ngModel"
                    name="type" 
                    disabled={{filter.typeDisabled}}
                    class="select-list"
            >
                    <option value="1">
                        Receita
                    </option>  
                    <option value="2">
                        Revenda
                    </option>                  
            </select>              

        </div>

        <div className="right-filter">
            <label>
                <input type="radio" 
                       class="input-list"
                       id="type" 
                       name="type" 
                       [checked]="filter.typeDisabled"
                       (change)="typeAnyChange($event)"
                       value="*"  />
                Qualquer
            </label>
        </div>

    </div>

    <div>
        <input type="submit" 
            class="input-list-submit" 
            value="Pesquisar" />                            
    </div> 
    <div class='clear-both'>
    </div> 

</form>


<div class="button-new-list-container">
    <a [routerLink]="['/inventoryitems/new']"  >
        <button class='button-new-list'>
            <mat-icon>add_to_photos</mat-icon>
        </button>                
    </a>    
</div>

<p class="error-message" *ngIf="inventoryItemsError?.message">
    {{inventoryItemsError.message}}
</p>  
<p class="error-message" *ngIf="unitsError?.message">
    {{unitsError.message}}
</p>

<p class="waiting-icon" *ngIf="unitsWaiting">
    <mat-icon>hourglass_empty</mat-icon>
</p>
<p class="waiting-icon" *ngIf="inventoryItemsWaiting">
    <mat-icon>hourglass_empty</mat-icon>
</p>

<div class="card-container">

    <div *ngFor="let item of itensdoestoque" >

        <div class='card'>
            <div>
                {{item.name}}
            </div>
            <div>
                {{item.brand}}
            </div>
            <div>
                {{item.content}} {{getUnityName(item.unityId)}} 
            </div>   
            <div>
                {{getTypeName(item.type)}}
            </div> 
            <div>
                <a [routerLink]="['/inventoryitems/edit', item.id]"  >
                    <button class='button-edit-list'>
                        <mat-icon>edit</mat-icon>
                    </button>                       
                </a>
                <a [routerLink]="['/inventoryitems/remove', item.id]"  >
                    <button class='button-remove-list'>
                        <mat-icon>delete</mat-icon>
                    </button>                       
                </a>                                                                                
            </div>                    
        </div>

    </div>

</div>

