<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<h1 class="h1-list">
    Clientes
</h1>    

<form class="form-list" #form="ngForm" (ngSubmit)="handleSubmit(form)">

    <div class="main-filter">

        <div class="left-filter">

            <label>
                <input type="radio"                     
                       class="input-list"                     
                       id="name" 
                       name="name"        
                       [checked]="!filter.nameDisabled"            
                       (change)="nameSpecificChange($event)"/>
                Nome
            </label>

            <input type="text"
                   [(ngModel)]="filter.name"
                   #name="ngModel"     
                   name="name"     
                   disabled={{filter.nameDisabled}}       
                   class="input-list input-list-text"               
            />
        </div>

        <div className="right-filter">
            <label>
                <input type="radio" 
                    class="input-list"                 
                    id="name" 
                    name="name" 
                    [checked]="filter.nameDisabled"
                    (change)="nameAnyChange($event)"
                    value="*"  />
                Qualquer
            </label>
        </div>

    </div>

    <div>
        <input type="submit" 
            class="input-list-submit" 
            value="Pesquisar" />                            
    </div> 
    <div class='clear-both'>
    </div> 

</form>


<div class="button-new-list-container">
    <a [routerLink]="['/customers/new']"  >
        <button class='button-new-list'>
            <mat-icon>add_to_photos</mat-icon>
        </button>                
    </a>    
</div>

<p class="error-message" *ngIf="customersError?.message">
    {{customersError.message}}
</p>  

<p class="waiting-icon" *ngIf="customersWaiting">
    <mat-icon>hourglass_empty</mat-icon>
</p>

<div class="card-container">

    <div *ngFor="let item of customers" >

        <div class='card'>
            <div>
                {{item.name}}
            </div>           
            <div>
                <a [routerLink]="['/customers/edit', item.id]"  >
                    <button class='button-edit-list'>
                        <mat-icon>edit</mat-icon>
                    </button>                       
                </a>
                <a [routerLink]="['/customers/remove', item.id]"  >
                    <button class='button-remove-list'>
                        <mat-icon>delete</mat-icon>
                    </button>                       
                </a>                                                                                
            </div>                    
        </div>

    </div>

</div>
