<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<h1>
    Itens do estoque
</h1>    
<a [routerLink]="['/itensdoestoque/new']"  >
    <button class='button button-new'>
        <mat-icon>add_to_photos</mat-icon>
    </button>                
</a>      

<div class="card-container">

    <div *ngFor="let item of itensdoestoque" >

        <div class='card'>
            <div>
                {{item.name}}
            </div>
            <div>
                {{item.brand}}
            </div>
            <div>
                {{item.content}} {{getUnityName(item.unityId)}} 
            </div>   
            <div>
                {{getTypeName(item.type)}}
            </div> 
            <div>
                <a [routerLink]="['/itensdoestoque/edit', item.id]"  >
                    <button class='button button-edit'>
                        <mat-icon>edit</mat-icon>
                    </button>                       
                </a>
                <a [routerLink]="['/itensdoestoque/edit', item.id]"  >
                    <button class='button button-edit'>
                        <mat-icon>delete</mat-icon>
                    </button>                       
                </a>                                                                                
            </div>                    
        </div>

    </div>

</div>
