<form class="form-edit" *ngIf="isDependecyReady()" [formGroup]="customerForm" (ngSubmit)="handlePersistence()">

    <input type="hidden" formControlName="id" />

    <label htmlFor="name">Nome:
        <label *ngIf="nameError" class="warning-edit">
            {{nameError}}
        </label> 
        <input type="text"
               class="input-edit input-edit-text" 
               formControlName="name"
               required
               minlength = "3"
        />        
    </label>

    <label>CPF:
        <label *ngIf="cpfError" class="warning-edit">
            {{cpfError}}
        </label>
        <input type="text" 
               class="input-edit input-edit-text"
               formControlName="cpf"  
               required
               minlength = "11"
        />
    </label>

    <app-accordion [open]="true"
                   [title]="'Endereço'" >
        <app-address [setFormComponent]="setAddressFormComponentFunctionPointer"
        ></app-address>
    </app-accordion>

    <app-accordion [open]="true"
                   [title]="'Telefone'" >
        <app-phone [setFormComponent]="setPhoneFormComponentFunctionPointer"
        ></app-phone>
    </app-accordion>

    <input type="submit" 
           class="input-edit-submit"
           value="Enviar" 
           *ngIf="newOrEdit"/>

    <div *ngIf="!newOrEdit">
        <div class="warning-edit">
            Atenção! Esta ação não pode ser desfeita
        </div>
        <div class="clear-both">
        </div>
        <div>
            <input type="submit" 
                   class="input-edit-submit-remove"
                   value="Remover" 
            />
        </div>
    </div>
    
</form>
